# Python Basic Topics

### https://github.com/Dhana009/Python-Concepts/blob/main/01.Python%20Basic.ipynb

# lists, tuples, sets, dictionary, strings, control flow statements, modules, packages, file input and output

### In Python, common data structures include lists, tuples, dictionaries, and sets.

# lists

### lists are ordered and mutable [items can be removed or added], this can be helpful in manipulating the data. list is denoted by square brackets '[ ]'

In [5]:
# example

numbers = [1,2,3,4,5] #list can contain all data types[string, int, float, boolean]

letters = ['apple',1,1.2,True,False]

In [6]:
print(letters)

['apple', 1, 1.2, True, False]

#### list methods

#### append(), extend(), pop(), sort(), count() -- these are most used


append(): adds an element to the end of the list

extend(): adds multiple elements to the end of the list

insert(): inserts an element at a specified index

remove(): removes an element from the list

pop(): removes and returns the element at a specified index

index(): returns the index of the first occurrence of a specified element

count(): returns the number of occurrences of a specified element

sort(): sorts the elements of the list in ascending order

reverse(): reverses the order of the elements in the list

In [9]:
letters = ['apple',1,1.2,True,False]

In [10]:
#append  #append(): adds an element to the end of the list

letters.append('checking')

In [11]:
print(letters)

['apple', 1, 1.2, True, False, 'checking']

In [12]:
letters.append(11111)
print(letters)

['apple', 1, 1.2, True, False, 'checking', 11111]

In [14]:
#extend  - extend(): adds multiple elements to the end of the list

numbers = [1,2,3,3.3,45]

knife = ['large','small','medium']

In [18]:
print(letters)

['apple', 1, 1.2, True, False, 'checking', 11111]

In [15]:
numbers.extend(letters) # iterate each element and add to the list as a single element

knife.append(letters) # adds all the whole list as a single element

In [16]:
print(numbers)

[1, 2, 3, 3.3, 45, 'apple', 1, 1.2, True, False, 'checking', 11111]

In [17]:
print(knife)

['large', 'small', 'medium', ['apple', 1, 1.2, True, False, 'checking', 11111]]

In [20]:
#pop -  pop(): removes the last index from the list, if no index is given, if an index is given it will remove that

knife

['large', 'small', 'medium', ['apple', 1, 1.2, True, False, 'checking', 11111]]

In [21]:
knife.pop()

['apple', 1, 1.2, True, False, 'checking', 11111]

In [22]:
knife

['large', 'small', 'medium']

In [23]:
knife.pop(0)

'large'

In [24]:
knife

['small', 'medium']

In [36]:
# sort - sort(): sorts the elements of the list in ascending order #it must contain only one data type in the whole list

numbers = [1,2,3,3.3,45]

In [37]:
numbers.sort()
numbers

[1, 2, 3, 3.3, 45]

In [38]:
letters

['apple', 1, 1.2, True, False, 'checking', 11111]

In [40]:
letters.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [50]:
letters

['apple', 1, 1.2, True, False, 'checking', 11111]

In [51]:
letters.count('checking')

1

# Creating a list
numbers = [1, 2, 3, 4]

# Append 5 to the list
numbers.append(5)
print(numbers) # [1, 2, 3, 4, 5]

# Extend the list with [6, 7, 8]
numbers.extend([6, 7, 8])
print(numbers) # [1, 2, 3, 4, 5, 6, 7, 8]

# Insert 0 at index 0
numbers.insert(0, 0)
print(numbers) # [0, 1, 2, 3, 4, 5, 6, 7, 8]

# Remove the element with value 3
numbers.remove(3)
print(numbers) # [0, 1, 2, 4, 5, 6, 7, 8]

# Pop and return the element at index 4
popped_element = numbers.pop(4)
print(popped_element) # 5
print(numbers) # [0, 1, 2, 4, 6, 7, 8]

# Find the index of the first occurrence of 7
index = numbers.index(7)
print(index) # 5

# Count the number of occurrences of 2
count = numbers.count(2)
print(count) # 1

# Sort the list
numbers.sort()
print(numbers) # [0, 1, 2, 4, 6, 7, 8]

# Reverse the list
numbers.reverse()
print(numbers) # [8, 7, 6, 4, 2, 1, 0]

apple = [1,2,3,4,5,5,6]


apple.append(3)

apple.extend([2,3,9])

apple.sort()

apple.reverse()

apple.pop()

apple.count(2)

apple.pop(2)

apple.insert(1,233)

apple.index(5)

print(apple)

# Tuples

In [ ]:
## tuples are ordered [once we give a order, it follows it, that will not be changed], but they are immutable [once the elements are created, they cannot be added or removed]

## this immutuable behaviour will be helpful in places where we dont need to change the elements, game coordiantes, usernames

In [52]:
# Creating a tuple
numbers = (1, 2, 3, 4)

# sets

## sets are unordered collections of unique items.[duplicates are not allowed]

In [64]:
rise = {1,3,2,1,2,3,1,3,2}

In [65]:
rise

{1, 2, 3}

# dictionary

#### dictionary are mutable, key-value pairs, unique keys[if keys are not unique, then it will overwrite the existing value]

#### key value pairs -- key is used to access the corresponding value. keys are 80 percent immtuable(str, int ,tup), while values can be any data type, including lists, tuples, dictionaries, or even other dictionaries.

#### You can iterate[loop] over the keys, values, or key-value pairs of a dictionary using various methods like keys(), values(), and items().

In [70]:
my_dict = {'name': 'John', 12 : {'a':'testing'},'gender':[1,2,3]}

In [71]:
my_dict.keys()

dict_keys(['name', 12, 'gender'])

In [72]:
my_dict.values()

dict_values(['John', {'a': 'testing'}, [1, 2, 3]])

In [73]:
my_dict.items()

dict_items([('name', 'John'), (12, {'a': 'testing'}), ('gender', [1, 2, 3])])

In [74]:
my_dict['name']

'John'

In [75]:
my_dict['name'] = 'dhanunjaya'

In [76]:
my_dict['name']

'dhanunjaya'

In [77]:
my_dict.pop('name')

'dhanunjaya'

In [78]:
my_dict

{12: {'a': 'testing'}, 'gender': [1, 2, 3]}

In [79]:
my_dict.pop()

TypeError: pop expected at least 1 argument, got 0

In [80]:
my_dict.popitem() #remove the last index

('gender', [1, 2, 3])

In [81]:
my_dict

{12: {'a': 'testing'}}

# accessing and modify the elements

In [1]:
letters = ['apple',123,1.2,True]

In [2]:
#i want to add an element 'banana' to the list ?

letters.append('banana')

In [3]:
letters

['apple', 123, 1.2, True, 'banana']

In [4]:
letters.pop()

'banana'

In [5]:
letters.pop(1)

123

In [6]:
letters

['apple', 1.2, True]

In [7]:
# i want to access the elements in the first index ?

letters[1]  #foward index : 0,1,2,3 .........
            #reverse index : -1,-2,-3,-4 ...........

1.2

In [8]:
letters[-1]

True

In [26]:
letters

['apple', 1.2, True]

In [30]:
letters[1] = 'q'

In [31]:
letters

['apple', 'q', True]

In [27]:
a_set = {1,2,3,2,2,3}
a_set

{1, 2, 3}

In [28]:
a_set[1]

TypeError: 'set' object is not subscriptable

In [13]:
a = list(a_set)
a[0]

1

In [14]:
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York",
    "occupation": "Engineer"
}

In [15]:
my_dict

{'name': 'John', 'age': 30, 'city': 'New York', 'occupation': 'Engineer'}

In [16]:
my_dict['city']

'New York'

In [17]:
my_dict['city'] = 'tpt'

In [18]:
my_dict

{'name': 'John', 'age': 30, 'city': 'tpt', 'occupation': 'Engineer'}

In [19]:
my_dict['class'] = 'member'

In [20]:
my_dict

{'name': 'John',
 'age': 30,
 'city': 'tpt',
 'occupation': 'Engineer',
 'class': 'member'}

In [21]:
my_dict['class'] = 'two'

In [22]:
my_dict

{'name': 'John',
 'age': 30,
 'city': 'tpt',
 'occupation': 'Engineer',
 'class': 'two'}

In [23]:
my_dict.pop('class')

'two'

In [25]:
my_dict.popitem()

('occupation', 'Engineer')

#### list to add new elements, we can use append or extend
#### list to remove last element in the list, we can use pop
#### list to remove specific index, we can use pop with the index value
#### list to modify specific index value, we have give the specific index and then we have assign new value to it

In [ ]:
#### in dictionary, in order to create the new key value pair, we have to assign the corresponding value to the key like we do in the list
#### in dictionary, in order to access the specific value, we have to give correpsonding key to the variable to get it
#### in dictionary, in order to remove elements from a dictionary using the del keyword or the pop() method,popitem

In [33]:
letters

['apple', 'q', True]

In [35]:
letters[:2]

['apple', 'q']

In [ ]:
Certainly! Here are some questions to practice working with lists and dictionaries in Python:

### List Practice Questions:

1. Create a list containing the first 10 positive integers. Print the sum of all elements in the list.
2. Given a list of numbers, find and print the largest and smallest numbers in the list.
3. Write a program to reverse a given list.
4. Write a function to check if a list is sorted in ascending order.
5. Given two lists, merge them into a single sorted list.
6. Write a program to remove duplicate elements from a list.
7. Write a function to find the second largest number in a list.
8. Given a list of strings, concatenate them into a single string separated by a comma.


### Dictionary Practice Questions:

1. Create a dictionary representing a person with keys for name, age, and city.
2. Add a new key-value pair to the dictionary representing the person's occupation.
3. Remove the city key from the dictionary.
4. Write a program to find the keys with the highest and lowest values in a dictionary.
5. Given two dictionaries, merge them into a single dictionary. Handle conflicts by keeping the value from the first dictionary.
6. Write a function to check if a key exists in a dictionary.
7. Write a program to find the most common value in a dictionary.
8. Create a dictionary representing a phone book with names as keys and phone numbers as values. Write a program to find the phone number for a given name.
9. Write a function to convert a list of tuples into a dictionary.
10. Given a dictionary of student names and their scores in a test, write a program to find the student(s) with the highest score.

Feel free to implement these questions and test your skills with lists and dictionaries in Python!

# strings

In [ ]:
#strings - a string is a sequence of characters enclosed within single quotes, double quotes, or triple quotes. Strings are immutable, which means that once they are created, their value cannot be changed. However, you can create new strings by manipulating existing ones.

In [ ]:
'''The most commonly used methods for working with strings in Python are:

len(): Returns the length of the string.
lower(): Converts the string to lowercase.
upper(): Converts the string to uppercase.
strip(): Removes any whitespace characters from the beginning and end of the string.
replace(): Replaces a specified substring with another substring.
split(): Splits the string at the specified separator and returns a list of substrings.
join(): Joins the elements of an iterable to the end of the string.
find(): Searches the string for a specified value and returns the position of where it was found.
count(): Returns the number of occurrences of a substring in the string.'''

In [ ]:
#single quotes - 'hello'

#double quotes - "hello"

#triple quotes - '''hello''' #used for multiline strings

In [1]:
letters = 'Om namah sivaya'

In [2]:
len(letters)

15

In [4]:
letters.lower()

'om namah sivaya'

In [5]:
letters.upper()

'OM NAMAH SIVAYA'

In [6]:
letters.swapcase()

'oM NAMAH SIVAYA'

In [7]:
letters = " om namah sivaya "

In [8]:
letters.strip()

'om namah sivaya'

In [9]:
letters.replace('o','O')

' Om namah sivaya '

In [11]:
letters

' om namah sivaya '

In [10]:
letters.split('o')

[' ', 'm namah sivaya ']

In [14]:
letters.join('o') # join() method takes an iterable as an argument and joins the elements of the iterable to the end of the string.

#give an example - join the elements of a list to the end of a string

letters = 'om namah sivaya'

letters.find('s')

letters.count('a')

letters.index('s')

9

In [15]:
letters.find('h') #find() method searches the string for a specified value and returns the position of where it was found. If the value is not found, it returns -1.

7

In [16]:
letters.count('a')

4

In [18]:
letters.index('sa') #index() method searches the string for a specified value and returns the position of where it was found. If the value is not found, it raises an error.

ValueError: substring not found

In [19]:
letters.find('aa')

-1

In [21]:
list_of_strings = ['Hello', 'World', 'Python']
separator = ', '
print(separator.join(list_of_strings)) # Output: Hello, World

Hello, World, Python

# format strings

In [ ]:
# In Python, there are two main ways to format strings: f-strings and the str.format() method.

In [22]:
name = 'sukumar'

age = '12'

print('my name is sukumar and age is 12')

'my name is sukumar and age is 12'

In [24]:
name = 'dj'

print('my name is sukumar and age is 12')

my name is sukumar and age is 12

In [25]:
# format strings - f-strings and the str.format() method.

#f strings - f-strings are a way to format strings in Python. They allow you to embed expressions inside string literals, using curly braces {}.

name = 'dhanunjaay'

print(f'my name is {name}')

my name is dhanunjaay

In [26]:

name = 'suku'

print(f'my name is {name}')

my name is suku

In [27]:
print('my name is {}'.format(name))

my name is suku

# control flow statements

In [ ]:
# control statements - if, elif, else, for, while, break, continue, pass

In [ ]:
# if statement - The if statement is used to execute a block of code only if a specified condition is true.
# elif statement - The elif statement allows you to check multiple expressions for TRUE and execute a block of code as soon as one of the conditions is TRUE.
# else statement - The else statement allows you to execute a block of code if the condition is false.

In [28]:
a = 10

if a==10: # == is used to compare two values
    
    print('a is equal to 10')
else:
    print('a is not equal to 10')

a is equal to 10

In [29]:
a = 10

if a!=10: # != is used to compare two values
    
    print('a is equal to 10')
else:
    print('a is not equal to 10')

a is not equal to 10

In [31]:
if a<5:
    print('a is less than 5')

elif a>5:
    print('a is greater than 5')

elif a==5:
    print('a is equal to 5')

else:
    print('a is equal to 5')

a is greater than 5

In [32]:
# for loop - The for loop is used to iterate over a sequence (list, tuple, string) or other iterable objects.

numbers = [1,2,3,4,5]

for i in numbers:
    print(i)

1
2
3
4
5

In [33]:
for i in range(1,6): #1, n-1
    print(i)

1
2
3
4
5

In [34]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [35]:
for i in range(1,6,2): #1, n-1, step
    print(i)

1
3
5

In [36]:
# nested for loop - A nested loop is a loop inside a loop. The "inner loop" will be executed one time for each iteration of the "outer loop".

for i in range(1,6):
    for j in range(1,6):
        print(i,j)

1 1
1 2
1 3
1 4
1 5
2 1
2 2
2 3
2 4
2 5
3 1
3 2
3 3
3 4
3 5
4 1
4 2
4 3
4 4
4 5
5 1
5 2
5 3
5 4
5 5

In [38]:
for i in range(1,6):
    print('first loop : ',i)
    for j in range(1,6):
        print('seconf loop : ',j)

first loop :  1
seconf loop :  1
seconf loop :  2
seconf loop :  3
seconf loop :  4
seconf loop :  5
first loop :  2
seconf loop :  1
seconf loop :  2
seconf loop :  3
seconf loop :  4
seconf loop :  5
first loop :  3
seconf loop :  1
seconf loop :  2
seconf loop :  3
seconf loop :  4
seconf loop :  5
first loop :  4
seconf loop :  1
seconf loop :  2
seconf loop :  3
seconf loop :  4
seconf loop :  5
first loop :  5
seconf loop :  1
seconf loop :  2
seconf loop :  3
seconf loop :  4
seconf loop :  5